{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block title %}

{% endblock %}

