{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 ">
            <h1 class="my-3">Mon mot de passe</h1>
            <p class="my-3 text-muted">
                Saississez un nouveau mot de passe pour votre compte. Nous vous recommandons d'éviter les mots de passe utilisés sur d'autres sites ou que quelqu'un d'autre pourrait aisement deviner.
            </p>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
            <p>
                <a href={{ path('app_account') }}#">Retour</a>
            </p>
        </div>
    </div>

{% endblock %}
