{% extends 'base.html.twig' %}

{% block body %}

    {# table listing all cities #}
    <div class="col-md-4 container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Campus</th>
            </tr>
            </thead>
            <tbody>
            {% for campus in allCampus %}
                <tr>
                    <th>{{ campus.nom }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# form to add new city #}
        <button class="btn btn-warning" type="button"
                onclick="document.getElementById('campusForm').style.display = 'block'">
            Ajouter un campus</button>

        <div id="campusForm" class="my-3 mx-auto" style="display: none">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.nom) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="d-grid gap-2">
                <button class="btn btn-primary" formnovalidate>Envoyer</button>
            </div>
        </div>
    </div>

{% endblock %}