<footer class="footer mt-5 text-center bg-light">
    <div class="container text-muted">
        <small>
            Built with <span class="text-danger">&hearts;</span>
            by BTG
        </small>
    </div>
</footer>