{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-6">
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button>créer une nouvelle sortie</button>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}

{% block title %}
créer une nouvelle sortie
{% endblock %}

