{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}

    {% for sortie in sorties %}

        {{ sortie.nom }}
        {{ sortie.duree }}

        <table>
            <th>
            </th>
        </table>

    {% endfor %}

{% endblock %}
